<div class="forum-italia-branding">
  <div class="forum-italia-branding-title">
    <a href="https://forum.italia.it">
      Forum Italia
    </a>
  </div>
  <div class="forum-italia-branding-tagline">
    <a href="https://forum.italia.it">
      Lo spazio di discussione sui servizi pubblici digitali
    </a>
  </div>
</div>