/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url($titillium-latin-ext-300) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url($titillium-latin-300) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url($titillium-latin-ext-400) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url($titillium-latin-400) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url($titillium-latin-ext-600) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url($titillium-latin-600) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: 'Titillium Web', sans-serif;
}

/* Footer */

/* Icons */

[class^=Icon-] {
  line-height: 1;
}

.Footer {
  background-color: #00264d;
  line-height: 1.15;

  a {
    color: #65dcdf;
  }

  .Footer-container {
    margin: auto;
    max-width: 77rem;
    padding: 2.5rem 0.75rem;

    @media screen and (min-width: 1366px) {
      padding-left: 6.5rem;
      padding-right: 6.5rem;
    }

    @media screen and (max-width: 1365px) and (min-width: 992px) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .Footer-grid {
      margin: 0 -0.5rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-direction: normal;
      padding: 0;

      div {
        padding: 0 0.5rem 1.125rem 0.5rem;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
        min-width: 0;
        font-size: 0.625rem;

        @media screen and (min-width: 1366px) {
          font-size: 1.4375rem;
        }

        @media screen and (max-width: 1365px) and (min-width: 992px) {
          font-size: 1.3125rem;
        }

        @media screen and (max-width: 991px) and (min-width: 768px) {
          font-size: 1.25rem;
        }

        .Footer-logo {
          height: 2.2em;
          padding: 0;
          float: left;
        }
      }

      a {
        letter-spacing: 0.007em;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        max-width: 100%;
      }

      .Footer-logo-container--owner {
        @media screen and (min-width: 1366px) {
          width: 41.66667%;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
        }

        @media screen and (max-width: 1365px) and (min-width: 992px) {
          width: 50%;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
        }

        a {
          font-size: medium;

          @media screen and (min-width: 1366px) {
            font-size: 1.4375rem;
          }

          @media screen and (max-width: 1365px) and (min-width: 768px) {
            font-size: 1.3125rem;
          }
        }

        .Footer-logo-separator {
          border-left: 0.1em solid #fff;
          margin: 0 0.3em;
          font-size: 1.2em;
          vertical-align: middle;
        }

        .Owner-name {
          width: 7em;
        }
      }

      .Footer-logo-container--partner {
        @media screen and (min-width: 1366px) {
          width: 33.33333%;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
        }

        @media screen and (max-width: 1365px) and (min-width: 992px) {
          width: 50%;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
        }

        p {
          color: white;
          font-size: 1rem;
          margin: 0;
          padding-bottom: 1.5rem;
          opacity: 0.5;
        }

        a {
          font-size: medium;

          @media screen and (min-width: 1366px) {
            font-size: 1.4375rem;
          }

          @media screen and (max-width: 1365px) and (min-width: 768px) {
            font-size: 1.3125rem;
          }
        }

        .Footer-logo:first-of-type {
          margin-right: 1rem;
        }

        .Footer-logo-separator--partner {
          border-left: 0.05em solid #fff;
          margin: 0 0.3em;
          font-size: 1.4em;
          vertical-align: middle;
        }

        .Partner-name {
          width: 10em;
          font-size: 0.7em;
          text-transform: uppercase;
        }
      }

      .Owner-name,
      .Partner-name {
        display: inline-block;
        vertical-align: middle;
      }

      .Social {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: end;
        align-self: flex-end;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        h2 {
          font-weight: 400;
          line-height: 1.55;
          color: #fff;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          margin: 0 1.125rem 0 0;
          font-size: 1rem;
          letter-spacing: 0.006rem;
          display: none;

          @media screen and (min-width: 768px) {
            font-size: 1.125rem;
          }

          @media screen and (min-width: 992px) {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
          }
        }

        .Footer-socialIcons {
          width: 100%;
          font-size: 1rem;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          list-style: none;
          margin: 0;
          padding: 0;
          text-align: center;

          @media screen and (min-width: 992px) {
            width: auto;
          }

          li {
            margin-right: 1rem;
            border: none;
            display: inline-block;
            max-width: 100%;

            [class*=" Icon-"],
            [class^=Icon-] {
              background-color: #65dcdf;
              color: #00264d;
              font-size: 1.125rem;
              padding: 0.5rem;
              border-radius: 100%;
              display: inline-block;
              max-width: 100%;

              @media screen and (min-width: 992px) {
                font-size: 1.3125rem;
              }

              @media screen and (max-width: 991px) and (min-width: 768px) {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }

    .Footer-links {
      text-align: center;
      padding-top: 1.125rem;
      margin-top: 1.5rem;
      border-top: 0.0625rem solid #004080;
      width: 100%;

      ul {
        width: 100%;
        float: left;
        margin: 0;

        @media screen and (min-width: 992px) {
          width: auto;
        }

        li {
          margin-right: 0.9375rem;
          margin-left: 0.9375rem;
          display: inline-block;
          max-width: 100%;
          font-weight: 600;
          font-size: 0.9375rem;

          @media screen and (min-width: 992px) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}