@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');

html {
    background-color: transparent;
}

body {
    font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.username a.staff {
    background-color: transparent;
}

footer .button {
    background-color: #0066cc;
}